@use './global.scss' as *;

.expand-content {
  padding: 8px 0;
}

.expand-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.expand-label {
  width: 120px;
  color: $text-color-2;
  font-size: 14px;
}

.expand-value {
  flex: 1;
  color: $text-color;
  font-size: 14px;
} 